.container {
    min-height: 100%;
    padding: 50px 0;
  
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      ion-img {
        width: 84px;
        height: 84px;
      }
  
      .profile-img {
        border-radius: 100%;
        border: 1px solid #6d74ef;
      }
  
      h1 {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.21;
        text-align: center;
      }
  
      p {
        margin: 0;
        padding: 0px 60px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        overflow: hidden;
      }
  
      .btn-row {
        padding: 15px 30px 25px;
  
        ion-img {
          margin: 0 7.5px;
          height: 46px;
          width: 46px;
        }
      }
    }
  
    ion-segment {
      padding: 0px 30px;
  
      ion-segment-button {
        margin: 0 10px;
        --border-color: #161740 !important;
        --border-radius: 0;
        --border-style: none;
  
        ion-label {
          font-size: 14px;
          font-weight: 700;
          margin: 5px;
          letter-spacing: 0.45px;
          text-transform: none;
          color: #b2b7fa;
        }
      }
  
      .active {
        border-bottom: 2.7px solid #161740 !important;
        border-radius: 4px;
        background: transparent;
  
        ion-label {
          color: #161740;
        }
      }
    }
  
    ion-list {
      padding-top: 12.5px;
      margin: 0;
  
      .visibility-row {
        padding-left: 30px;
      }
  
      .visibility-col {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 0;
  
        p {
          margin: 5px;
          font-size: 9px;
          font-weight: 700;
          text-align: center;
        }
      }
  
      .checkbox-col {
        ion-checkbox {
          --border-color: #565bdb;
          --border-width: 2px;
        }
      }
  
      .detail-row {
        display: flex;
        padding: 6px 0px 6px 30px;
        border-bottom: 1px solid #f0f1ff;
  
        ion-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          h5, h4, p {
            margin: 0;
          }
  
          h5 {
            font-size: 10px;
            font-weight: 600;
            color: #a0a2c4;
            line-height: 1.27;
          }
  
          h4 {
            font-size: 13px;
            font-weight: 500;
            line-height: 1.27;
          }
        }
  
        .detail-col {
          padding-right: 0;
        }
  
        .checkbox-col {
          align-items: center;
        }
      }
  
      .cred-row {
        ion-card {
          margin: 0;
          padding: 10px;
          border-radius: 15px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  
          ion-row {
            ion-col {
              display: flex;
              justify-content: flex-start;
              align-items: center;
  
              ion-avatar {
                background: #565bdb;
                width: 38px;
                height: 38px;
              }
  
              ion-label {
                font-size: 17px;
                font-weight: 700;
                color: #161740;
              }
            }
          }
  
          .property {
            padding-top: 15px;
  
            .value {
              color: #161740;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
  
        .checkbox-col {
          padding-top: 20px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
        }
      }
  
      .btn-container {
        padding: 15px 30px;
  
        ion-button {
          height: 41px;
          width: 100%;
          --border-radius: 8px;
  
          ion-label {
            text-transform: none;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.43px;
          }
        }
      }
  
      h1 {
        margin: 39px 48px 16px;
        font-size: 27px;
        font-weight: 800;
        letter-spacing: 0.3px;
      }
  
      p {
        margin: 24px 48px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.53;
      }
    }
  }
  
  .darkContainer {
    ion-segment {
      .active {
        border-bottom: 2.7px solid #fdfeff !important;
  
        ion-label {
          color: #fdfeff;
        }
      }
    }
  
    ion-list {
      .detail-row {
        border-bottom: 1px solid #2f305a;
  
        ion-col {
          h5 {
            color: #8485a3;
          }
        }
      }
  
      .cred-row {
        ion-card {
          background: #464660;
  
          ion-row {
            ion-col {
              ion-avatar {
                background: #fdfeff;
              }
  
              ion-label {
                color: #fdfeff;
              }
            }
          }
  
          .property {
            .value {
              color: #fdfeff;
            }
          }
        }
      }
    }
  }
  