<ion-grid *ngIf="options === 'profile'" [class.darkContainer]="theme.darkMode">

  <div class="row ion-activatable">
    <ion-row (click)="profileService.shareIdentity()">
      <ion-label>{{ 'share' | translate }}</ion-label>
      <ion-img *ngIf="!theme.darkMode" src="/assets/lightmode/share.svg"></ion-img>
      <ion-img *ngIf="theme.darkMode" src="/assets/darkmode/share.svg"></ion-img>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="row ion-activatable">
    <ion-row (click)="profileService.showWarning('publish')">
      <ion-label class="publish">{{ 'publish' | translate }}</ion-label>
      <ion-img src="/assets/default/publish.svg"></ion-img>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>


  <div class="row ion-activatable">
    <ion-row (click)="showWarning('delete')">
      <ion-label class="delete">{{ 'delete' | translate }}</ion-label>
      <ion-img src="/assets/default/trashcan.svg"></ion-img>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

</ion-grid>

<ion-grid *ngIf="options === 'edit'" [class.darkContainer]="theme.darkMode">
<!--   <ion-row>
    <ion-label>Add Data</ion-label>
    <ion-img *ngIf="!theme.darkMode" src="/assets/lightmode/add.svg"></ion-img>
    <ion-img *ngIf="theme.darkMode" src="/assets/darkmode/add.svg"></ion-img>
  </ion-row>
  -->

  <div class="row ion-activatable">
    <ion-row (click)="profileService.editProfile()">
      <ion-label>{{ 'edit-data' | translate }}</ion-label>
      <ion-img *ngIf="!theme.darkMode" class="edit-img" src="/assets/lightmode/edit.svg"></ion-img>
      <ion-img *ngIf="theme.darkMode"  class="edit-img" src="/assets/darkmode/edit.svg"></ion-img>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="row ion-activatable">
    <ion-row (click)="profileService.editVisibility()">
      <ion-label class="visibility">{{ 'edit-visibility' | translate }}</ion-label>
      <ion-img class="edit-img" src="/assets/default/visibility.svg"></ion-img>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

</ion-grid>

