<div *ngIf="warning === 'delete'" class="container deleteContainer" [class.darkContainer]="theme.darkMode">
  <ion-row class="header">
    <img src="/assets/default/deleteWarning.svg">
    <h1 class="ion-padding-horizontal ion-text-center">{{ 'delete-identity' | translate }}</h1>
  </ion-row>
  <ion-row>
    <ion-col class="message ion-padding">
      <p class="ion-padding">
        {{ 'delete-prompt' | translate }}
      </p>
    </ion-col>
  </ion-row>
  <ion-row  class="btn-row">
    <ion-col class="btn" size="5" (click)="cancel()">
      <ion-label>{{ 'cancel' | translate }}</ion-label>
    </ion-col>
    <ion-col class="btn" size="5" (click)="confirmDeleteDID()">
      <ion-label>{{ 'continue' | translate }}</ion-label>
    </ion-col>
  </ion-row>
</div>

<div *ngIf="warning === 'publish'" class="container publishContainer" [class.darkContainer]="theme.darkMode">
  <ion-row class="header">
    <img src="/assets/default/publishWarning.svg">
    <h1  class="ion-padding-horizontal ion-text-center">{{ 'publish-identity' | translate }}</h1>
  </ion-row>
  <ion-row>
    <ion-col class="message ion-padding">
      <p class="ion-padding">
        {{ 'publish-prompt' | translate }}
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="btn-row">
    <ion-col class="btn" size="5" (click)="cancel()">
      <ion-label>{{ 'not-yet' | translate }}</ion-label>
    </ion-col>
    <ion-col class="btn" size="5" (click)="confirmPublishDID()">
      <ion-label>{{ 'publish' | translate }}</ion-label>
    </ion-col>
  </ion-row>
</div>



